<app-nav></app-nav>
<main class="cs-page-wrapper">
    <section class="cs-carousel cs-controls-onhover">
        <div class="cs-carousel-inner" data-carousel-options=''>
    
          <!-- Slide 1 -->
          <div class="bg-size-cover py-xl-6" style="background-image: url(../../assets/img/ecommerce/home/hero-slider/R.jpg);">
            <div class="container pt-5 pb-6">
              <div class="row pb-lg-6">
                <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-4 pb-md-6">
                  <h3 class="font-size-lg text-uppercase cs-from-left cs-delay-1">Nuevo en</h3>
                  <h2 class="display-2 mb-lg-5 pb-3 cs-from-left">Ropa masculina 2022</h2>
                 
                </div>
              </div>
            </div>
          </div>
    
          <!-- Slide 2 -->
          <div class="bg-size-cover py-xl-6" style="background-image: url(../../assets/img/ecommerce/home/hero-slider/02.jpg);">
            <div class="container pt-5 pb-6">
              <div class="row pb-lg-6">
                <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-4 pb-md-6">
                  <h3 class="font-size-lg text-uppercase cs-from-top cs-delay-1">Nueva colección</h3>
                  <h2 class="display-2 mb-lg-5 pb-3 cs-scale-down">Otoño-Invierno 2021</h2>
                  <div class="mb-4 cs-scale-down cs-delay-2">
                    <a href="shop-catalog.html" class="btn btn-outline-primary btn-lg">Comprar la colección</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <!-- Slide 3 -->
          <div class="bg-size-cover py-xl-6" style="background-image: url(../../assets/img/ecommerce/home/hero-slider/03.jpg);">
            <div class="container pt-5 pb-6">
              <div class="row pb-lg-6">
                <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-4 pb-md-6">
                  <h3 class="font-size-lg text-uppercase cs-from-left cs-delay-1">Edición Ilimitada</h3>
                  <h2 class="display-2 mb-lg-5 pb-3 cs-from-left">Leather Issue</h2>
                  <div class="mb-4 cs-scale-up cs-delay-2">
                    <a href="shop-catalog.html" class="btn btn-outline-primary btn-lg">Shop the collection</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <!-- Slide 4 -->
          <div class="bg-size-cover py-xl-6" style="background-image: url(../../assets/img/ecommerce/home/hero-slider/04.jpg);">
            <div class="container pt-5 pb-6">
              <div class="row pb-lg-6">
                <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-4 pb-md-6">
                  <h3 class="font-size-lg text-uppercase cs-from-top cs-delay-1">Hottest Prices</h3>
                  <h2 class="display-2 mb-lg-5 pb-3 cs-scale-down">Kidswear Sales</h2>
                  <div class="mb-4 cs-scale-down cs-delay-2">
                    <a href="shop-catalog.html" class="btn btn-outline-primary btn-lg">Shop sale now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Pager -->
        <div class="container position-relative">
          <div class="row mt-lg-n5">
            <div class="col-lg-7 col-md-8 col-sm-10 offset-lg-1 offset-xl-0">
              <div class="position-relative">
                <div id="pager" class="cs-pager cs-pager-inverse mb-xl-5 pb-5 pb-md-6">
                  <button type="button" data-nav="0">01</button>
                  <button type="button" data-nav="1">02</button>
                  <button type="button" data-nav="2">03</button>
                  <button type="button" data-nav="3">04</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <section class="container pt-5 pt-lg-0">
        <div class="cs-carousel cs-nav-outside">
          <div class="cs-carousel-inner cs-carousel-inner-two" data-carousel-options=''>
            <!-- Category -->
            <a  class="d-block cs-image-scale cs-heading-highlight text-center">
              <div class="cs-image-inner mb-3 rounded">
                <img src="../../assets/img/ecommerce/home/hero-slider/hombre.jpg" alt="Women’s">
              </div>
              <h3 class="h5 mb-1">Mujeres</h3>
            </a>
            <!-- Category -->
            <a  class="d-block cs-image-scale cs-heading-highlight text-center">
              <div class="cs-image-inner mb-3 rounded">
                <img src="../../assets/img/ecommerce/home/hero-slider/hombre.jpg" alt="Men’s">
              </div>
              <h3 class="h5 mb-1">Hombres</h3>
            </a>
            <!-- Category -->
            <a  class="d-block cs-image-scale cs-heading-highlight text-center">
              <div class="cs-image-inner mb-3 rounded">
                <img src="../../assets/img/ecommerce/home/hero-slider/hombre.jpg" alt="Kids'">
              </div>
              <h3 class="h5 mb-1">Niños</h3>
            </a>
          </div>
        </div>
    </section>
    

    <!-- New arrivals -->
    <section class="container-fluid px-xl-grid-gutter mt-2 mb-1 mb-sm-4 mt-md-0 mb-lg-5 py-5 py-lg-6">
        <div class="text-center mb-5 pb-2">
          <h2 class="h1">Novedades</h2>
          <p class="font-size-lg text-muted mb-1">Echa un vistazo a nuestras últimas llegadas para la próxima temporada</p>
        </div>

        <!-- Product carousel -->
        <div class="cs-carousel cs-nav-outside">
          <div class="cs-carousel-inner cs-carousel-inner-three" data-carousel-options='{
            
          }'>

            <!-- Item -->
            <div *ngFor="let producto of productos">
              <div class="card card-product">
                <div class="card-product-img">
                  <a [routerLink]="['/productos/',producto.slug ]" class="card-img-top">
                    <img *ngIf="producto?.imagen" src="http://localhost:9090/api/upload/img/{{producto.imagen}}"
                    alt="{{producto.imagen}}" >
                  </a>
                  <div class="card-product-widgets-top">
                    <div class="star-rating">
                      <i class="sr-star cxi-star-filled active"></i>
                      <i class="sr-star cxi-star-filled active"></i>
                      <i class="sr-star cxi-star-filled active"></i>
                      <i class="sr-star cxi-star-filled active"></i>
                      <i class="sr-star cxi-star-filled active"></i>
                    </div>
                  </div>
                  <div class="card-product-widgets-bottom">
                    <a [routerLink]="['/productos/',producto.slug ]" class="btn-wishlist ml-auto" data-toggle="tooltip" data-placement="left" title="Add to wishlist"></a>
                  </div>
                </div>
                <div class="card-body">
                  <h3 class="card-product-title text-truncate mb-2">
                    <a [routerLink]="['/productos/',producto.slug ]"  class="nav-link">{{producto.titulo}}</a>
                  </h3>
                  <div class="d-flex align-items-center">
                    <span class="h5 d-inline-block mb-0">s/.{{producto.precio}}</span>
                  </div>
                </div>
              </div>
            </div>

           
          </div>
        </div>
    </section>

     <!-- Trending products (carousel) -->
    <section class="" style="background-color: #fcfcfd;">
        <div class="container my-lg-2 py-2 py-md-4">
          <div class="">
          </div>
          <div class="cs-carousel pb-2">
            <div class="cs-carousel-inner cs-carousel-inner-four" data-carousel-options='{
              
            }'>

             
            </div>
          </div>
        </div>
    </section>

    <!-- Popular categories -->
    <section  class="mt-2">
        <h2 class="h1 mb-5 pb-3 text-center">Categorías</h2>
        <div class="cs-carousel cs-nav-outside">
          <div class="cs-carousel-inner cs-carousel-inner-five" data-carousel-options='{
            
          }'>

            <!-- Category -->
            <div class="pb-2">
              <a href="shop-catalog.html" class="d-block cs-image-scale cs-heading-highlight text-center">
                <div class="cs-image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
                  <img src="../../assets/img/ecommerce/home/categories/04.jpg" alt="Category image">
                </div>
                <h3 class="h5 mb-3">Tops</h3>
              </a>
            </div>

            <!-- Category -->
            <div class="pb-2">
              <a href="shop-catalog.html" class="d-block cs-image-scale cs-heading-highlight text-center">
                <div class="cs-image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
                  <img src="../../assets/img/ecommerce/home/categories/05.jpg" alt="Category image">
                </div>
                <h3 class="h5 mb-3">T-shirts</h3>
              </a>
            </div>

            <!-- Category -->
            <div class="pb-2">
              <a href="shop-catalog.html" class="d-block cs-image-scale cs-heading-highlight text-center">
                <div class="cs-image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
                  <img src="../../assets/img/ecommerce/home/categories/06.jpg" alt="Category image">
                </div>
                <h3 class="h5 mb-3">Caps</h3>
              </a>
            </div>

            <!-- Category -->
            <div class="pb-2">
              <a href="shop-catalog.html" class="d-block cs-image-scale cs-heading-highlight text-center">
                <div class="cs-image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
                  <img src="../../assets/img/ecommerce/home/categories/07.jpg" alt="Category image">
                </div>
                <h3 class="h5 mb-3">Sandals</h3>
              </a>
            </div>

            <!-- Category -->
            <div class="pb-2">
              <a href="shop-catalog.html" class="d-block cs-image-scale cs-heading-highlight text-center">
                <div class="cs-image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
                  <img src="../../assets/img/ecommerce/home/categories/08.jpg" alt="Category image">
                </div>
                <h3 class="h5 mb-3">Jackets</h3>
              </a>
            </div>

            <!-- Category -->
            <div class="pb-2">
              <a href="shop-catalog.html" class="d-block cs-image-scale cs-heading-highlight text-center">
                <div class="cs-image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
                  <img src="../../assets/img/ecommerce/home/categories/09.jpg" alt="Category image">
                </div>
                <h3 class="h5 mb-3">Coats</h3>
              </a>
            </div>
          </div>
        </div>
    </section>

    <!-- Services -->
    <section style="margin-top: 10rem !important;" class=" mb-2">
      <h2 class="h1 mb-5 pb-3 text-center">Beneficios</h2>
        <div class="row py-3">
          <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
            <img class="mb-4" src="../../assets/img/ecommerce/home/services/delivery.svg" width="48" alt="Worldwide Shipping">
            <h5 class="h5 mb-2">Envío rápido</h5>
            <p class="mb-0 text-muted">Obtén envío gratis de más de s/.250</p>
          </div>
          <span class="divider-vertical d-sm-block d-none"></span>
          <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
            <img class="mb-4" src="../../assets/img/ecommerce/home/services/support.svg" width="48" alt="Customer Support">
            <h5 class="h5 mb-2">24/7 Apoyo al cliente</h5>
            <p class="mb-0 text-muted">Amistoso Servicio de Apoyo al cliente</p>
          </div>
          <span class="divider-vertical d-sm-block d-none"></span>
          <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
            <img class="mb-4" src="../../assets/img/ecommerce/home/services/guarantee.svg" width="48" alt="Customer Support">
            <h5 class="h5 mb-2">Garantía de devolución de dinero</h5>
            <p class="mb-0 text-muted">Devolvemos el dinero en un plazo de 30 días</p>
          </div>
          <span class="divider-vertical d-sm-block d-none"></span>
          <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
            <img class="mb-4" src="../../assets/img/ecommerce/home/services/payment.svg" width="48" alt="Customer Support">
            <h5 class="h5 mb-2">Pago seguro en línea</h5>
            <p class="mb-0 text-muted">Acepta todas las principales tarjetas de crédito</p>
          </div>
        </div>
    </section>


    <!-- Insagram -->
    <section class="pt-5 pb-4 pt-lg-6 pb-lg-5 border-top border-bottom">
        <div class="container pt-md-4 pb-2 pt-lg-0 pb-lg-0">
          <div class="row">
            <div class="col-md-4 text-center text-md-left pb-2 pb-md-0 mb-4 mb-md-0">
              <p class="text-dark text-uppercase mb-2">Síguenos en Facebook</p>
              <h2 class="h1 pb-2 pb-md-3">T&M Tactical</h2>
              <a href="#" class="btn btn-outline-dark btn-lg">
                <i class="cxi-facebook font-size-lg mr-1"></i>
                Sígueme en Facebook
              </a>
            </div>
            <div class="col-md-8">
              <div class="cs-carousel cs-nav-outside">
                <div class="cs-carousel-inner cs-carousel-inner-six" data-carousel-options='{
                  
                }'>
                  <!-- Image -->
                  <div>
                    <img src="../../assets/img/ecommerce/home/hero-slider/hombre.jpg" alt="Image">
                  </div>
                  <!-- Image -->
                  <div>
                    <img src="../../assets/img/ecommerce/home/hero-slider/banco.jpg" alt="Image">
                  </div>
                  <!-- Image -->
                  <div>
                    <img src="../../assets/img/ecommerce/home/hero-slider/negro.jpg" alt="Image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</main>

<app-footer></app-footer>
