<app-nav></app-nav>

<main class="cs-page-wrapper ">
    <!-- Breadcrumb -->
    <nav  style="background-color:rgb(236, 237, 243);" class="mb-3"  aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb breadcrumb-alt mb-0">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/']"><i class="cxi-home"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Mis órdenes</li>
            </ol>
        </div>
    </nav>

    <section class="container pt-3 pt-lg-4 pb-5 pb-lg-6">
        <div class="row pb-2 pb-lg-0">
            <aside class="col-xl-3 col-lg-4 pb-3 mb-4 mb-lg-0">
                <app-sidebar></app-sidebar>
            </aside>

            <div class="col-lg-8 ml-auto">

                <div class="d-flex align-items-center justify-content-between mb-4 pb-sm-2">
                    <h1 class="h2 mb-0">Mis órdenes</h1>
                  <!--<div class="form-inline">
                        <label for="sort-orders" class="d-none d-sm-block font-weight-bold mr-2 pr-1">Sort
                            orders</label>
                        <select id="sort-orders" class="custom-select">
                            <option>All</option>
                            <option>Delivered</option>
                            <option>In Progress</option>
                            <option>Delayed</option>
                            <option>Canceled</option>
                        </select>
                    </div>-->  
                </div>
                <div class="accordion-alt" *ngIf="!load_data" id="orders">

                    <ng-container *ngIf="ordenes.length>=1">
                        <div class="card border-bottom" *ngFor="let item of ordenes">
                            <div class="card-header accordion-heading py-1">
                                <a [routerLink]="['/cuenta/ordenes',item.id]" class="d-flex flex-wrap justify-content-between py-3"
                                    data-toggle="collapse" aria-expanded="false">
                                    <span class="pr-2"># {{item.nventa}}</span>
                                    <span class="font-size-sm text-muted text-nowrap px-2">
                                        <i class="cxi-clock font-size-base align-middle mt-n1 mr-1"></i>
                                        {{item.fecha|date}}
                                    </span>
                                    <span class="badge badge-info">{{item.estado}}</span>
                                    <span class="text-dark pl-1">${{item.subtotal}}</span>
                                </a>
                            </div>
    
                        </div>

                    </ng-container >
                    <ng-container *ngIf="ordenes.length==0">
                        <div class="card border-bottom">
                            <div class="card-header accordion-heading py-1">
                                <a  class="d-flex flex-wrap justify-content-between py-3"
                                    data-toggle="collapse" aria-expanded="false">
                                    <span class="pr-2">No tiene órdenes en su cuenta 😌</span>
                                </a>
                            </div>
    
                        </div>

                    </ng-container>
                    
                    


                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="spinner-border text-primary" role="status" *ngIf="load_data">
                            <span class="sr-only">Cargando...</span>
                        </div>

                    </div>
                </div>

                <!-- Load more btn 
                <div class="text-center pt-4 pb-sm-2 mt-3">
                    <button class="btn btn-lg btn-link load-more-btn p-0 text-decoration-none" type="button">
                        <i class="cxi-arrow-convert mt-n1 mr-3 align-middle"></i>
                        Load more
                    </button>
                </div>-->

            </div>
        </div>
    </section>

</main>

<app-footer></app-footer>